<!-- ici les 3 grosse brique -->
<li [ngClass]="{'list-group-item': true,
               'list-group-item-success': combattantStatus === 'prêt au combat',
               'list-group-item-danger': combattantStatus === 'blessé'}">
    <div
    style="width:20px;height:20px;background-color:green;"
    *ngIf="combattantStatus === 'prêt au combat'"></div>
    <div
    style="width:20px;height:20px;background-color:red;"
    *ngIf="combattantStatus === 'blessé'"></div>
    <h4 [ngStyle]="{color: getColor()}">Combattant : {{ combattantName }} -- Status : {{ getStatus() }}</h4>
    <a [routerLink]="[id]">Détail </a>
    <button class="btn btn-success"
            (click)="onSwitchOn()"
            [disabled]="combattantStatus === 'prêt au combat'">Restaurer</button>
    <button class="btn btn-danger"
            (click)="onSwitchOff()"
            [disabled]="combattantStatus === 'blessé'">Indiquer que le combattant est blessé</button>
    <input type="text" class="form-control" [(ngModel)]="combattantName">
</li>