<div class="col-xs-12">
            <h2>Mes combattants</h2>
            
            <p>Mis à jour : {{ lastUpdate | async | date: 'short' | lowercase }}</p>
            
            <ul class="list-group">
                <app-combattant *ngFor="let combattant of combattants; let i = index"
                                [indexOfCombattant]="i"
                                [combattantName]="combattant.name"
                                [combattantStatus]="combattant.status"
                                [id]="combattant.id">
                </app-combattant>
            </ul>
            <!-- <button class="btn btn-success"
                    [disabled]="!isAuth"
                    (click)="onRestaurer()">Restaurer tous les combattants</button> -->
            <button class="btn btn-primary"
                    (click)="onSave()">Enregistrer la liste des combattants</button>
            <button class="btn btn-primary"
                    (click)="onFetch()">Charger la liste des combattants</button>
            <button class="btn btn-success"
                    (click)="onRestaurer()">Restaurer tous les combattants</button>
            <button class="btn btn-danger"
                    (click)="onBlesse()">Mettre tout le monde à l'infirmerie !</button>
            
        </div>